<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">We've got what you need!</h2>
                <hr class="light">
                <p class="text-faded">Creative Boxes is a Web Products and Consulting Company that specializes in providing private labeled, web presence and communication applications to ICANN Registrars, Large Web Hosts, Domain Resellers, ISPs and Telcos. We also offer ICANN Accreditation Consultancy services and a turnkey SaaS platform which provides end-to-end business automation to our clients.</p>
                <a href="#" class="btn btn-default btn-xl">Get Started!</a>
            </div>
        </div>
    </div>
</section>
