<section id="services">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">At Your Service</h2>
                <hr class="primary">
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-life-ring wow bounceIn text-primary"></i>
                    <h3>24×7 Technical Support </h3>
                    <p class="text-muted">Technical Support via phone, chat & email</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-paper-plane wow bounceIn text-primary" data-wow-delay=".1s"></i>
                    <h3>Dedicated Account Manager</h3>
                    <p class="text-muted">Dedicated Account Manager to help you grow</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-cog wow bounceIn text-primary" data-wow-delay=".2s"></i>
                    <h3>Marketing Assistance</h3>
                    <p class="text-muted">Marketing Assistance on request</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-file wow bounceIn text-primary" data-wow-delay=".3s"></i>
                    <h3>Support Forums</h3>
                    <p class="text-muted">Support Forums to keep you updated </p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-bullhorn wow bounceIn text-primary"></i>
                    <h3>Help Desk</h3>
                    <p class="text-muted">Help Desk for creating and tracking tickets</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-cubes wow bounceIn text-primary" data-wow-delay=".1s"></i>
                    <h3>KnowledgeBase</h3>
                    <p class="text-muted">KnowledgeBase with guides and FAQs </p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-wrench wow bounceIn text-primary" data-wow-delay=".2s"></i>
                    <h3>SuperSite</h3>
                    <p class="text-muted">Start selling in minutes using our Fully brandable White Labeled Storefront -SuperSite</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-thumbs-o-up wow bounceIn text-primary" data-wow-delay=".3s"></i>
                    <h3>API Integration</h3>
                    <p class="text-muted"> Use our HTTPS API to integrate our Products with your interface</p>
                </div>
            </div>
        </div>
    </div>
</section>
